@using Microsoft.AspNet.Identity



@using (Html.BeginForm("Login", "Account", new { area = "" }, FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("EmailOrUsername", "TestUser")
    @Html.Hidden("Password", "somePassword")
    <div id="mybutton">
        <a class="feedback" href="javascript:document.getElementById('loginForm').submit()">Log in as History Manager</a>
</div>
        }


