/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

#rentalhist-form-horizontal {
    background-color: #BD1A11;
    max-width: 600px;
    margin: 2% auto;
    border-radius: 25px;
    font-weight: 600;
    font-size:x-large;
}


#check {
    width: 20px;
    height: 20px;
}


.red {
    color:red;
}

.gray {
    color:gray;
}


.dropdown:hover .dropdown-menu {
    display: block;
   
}


.table-container {
    border-radius: 15px;
    border: 2px solid #BD1A11;
    
}


.text-single-line {
    max-width: 90%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.table {
    table-layout: fixed;
    width: 100%;
    border:0;
    
}


.last-td .dropdown{
    display: none;
}

tr:hover .last-td .dropdown {
    display: block;
}
#img-denied {
    padding-top: 3%;
    max-width: 100px;
    height: auto;
    margin: 0px auto;
}

#center-login-link {
    text-align:center;
}