@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "RentalHistoryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">

    <div class="bg-white pt-1 table-container">
        <div class="container">
            <div class="row">
                <p class="text-dark pl-2">Most Recent Rental Histories</p>
                <div class="ml-auto pr-1">
                    <span class="text-dark">Sorted By: </span>
                    <select id="select">
                        <option value="">--No Extra Sort--</option>
                        <option value="name_asc">Rentals A - Z</option>
                        <option value="name_desc">Rentals Z - A</option>
                        <option value="damage_desc">Damaged Rentals</option>
                        <option value="damage_asc">Undamaged Rentals</option>
                    </select>


                </div>
            </div>
        </div>
        <div id="partial-load"></div>


    </div>
    
</div>